@page
@model PrivacyModel
@{
}
<h2>Политика конфиденциальности</h2>
<div>

    <p>Ваша конфиденциальность очень важна для нас. Соответственно, мы разработали эту политику, чтобы вы понимали, как мы собираем, используем, коммуницируем и раскрываем и используем личную информацию. Ниже приведено наше описание политики конфиденциальности.</p>

    <ul>
        <li>Мы собираем информацию, когда вы регистрируетесь на нашем сайте или входите в систему, и когда вы покидаете сайт.</li>
        <li>Информация о вашем компьютере, включая ваш IP-адрес, операционную систему и браузер, может быть собрана автоматически.</li>
        <li>Мы можем использовать информацию, чтобы улучшить наш веб-сайт и услуги.</li>
        <li>Мы можем использовать вашу информацию для связи с вами по электронной почте.</li>
        <li>Мы никогда не продаем вашу информацию.</li>
        <li>Мы никогда не делимся вашей информацией с другими.</li>
    </ul>

    <p>Мы принимаем меры безопасности для защиты информации, которую вы предоставляете нам. Мы также защищаем вашу информацию в оффлайн-режиме. Только сотрудники, которые нуждаются в информации для выполнения определенной работы (например, выставление счетов или обслуживание клиентов), имеют доступ к лично идентифицируемой информации. Компьютеры и серверы, используемые для хранения лично идентиф
</div>